*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 20px;
}

body{
        height: 100vh;
        padding: 10px;
        background-image: url(bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
}

.header{
        
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 50px 0;
}

.childs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
}


.buttons{
        width: 120px;
        height: 40px;
        background-color: #edade1;
        border: 1px tra solid;
}

.slider{
        -webkit-appearance: none; 
        height: 8px;
        background: #4caf50;
}

#algo{
        width: 130px;
        border: 1px #edade1 solid;
}

.main{
        display: flex;
        justify-content: center;
        padding: 20px;
}

.bars{
        width: 20px;
        border-radius: 0;
        background-color: #edade1;
        border: 1px black solid;
        flex-grow:1;
        border-radius: 100px;
}

